* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0A0F1F;
    font-family: Arial, Helvetica, sans-serif;
    color: #202124;
    padding: 30px;
}

.cabecalho {
    background: #16213E;
    border-radius: 10px;
    padding: 32px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 0 8px rgba(218, 216, 216, 0.692);
    max-width: 900px;
    margin: 0 auto;
}

.cabecalho h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #00E5FF;
}

.cabecalho p {
    color: #a6abb1;
}